*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

.contain {
    width: 95%;
    margin: auto;
}

.sectionStyle {
    padding: 70px 0;
}

/* HEADER  */
.Dinerlogo .navbar-brand{
    font-size: 36px;
    color: white;
    font-weight: 700;
    display: inline-block;
}

.Dinerlogo .navbar-brand:hover{
    color: white;
}

header input{
    padding: 10px 50px 10px 20px;
    border: 1px solid white;
    border-radius: 6px;
    height: 45px;
    font-size: 16px;
    color: rgba(22, 28, 45, 0.7);

}

header {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;

    padding-top: 40px;
}


header form {
    position: relative;
   
    padding-left: 600px; 

}

header form>i {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
}

#DinerNavbar a{
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: white;
    text-align: center;
    transition: all .2s;
}

#DinerNavbar a:hover{
    color: #ff6600;
}

#DinerNavbar {
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-toggler-icon {
    background-image: none;
}

header .navbar-light .navbar-toggler-icon i {
    color: white;
    font-size: 30px;
}

/* CAROUSEL  */
.Dinercarousel{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    height: 700px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
}

.carousel__content {
    color: white;
}

.carousel__content h1{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
}

.carousel__content p{
    font-size: 16px;
    line-height: 28px;
}

.carousel__content button {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
    transition: all .5s;
}

.carousel__content button:hover{
    background-color: white;
    color: #ff6600;
}

/* ABOUT US  */
.aboutUs__content {
    display: flex;
    gap: 100px;
}

.aboutUs__left {
    width: 40%;
}

.aboutUs__right {
    width: 60%;
}

.aboutUs__left h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.aboutUs__left h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.aboutUs__right p {
    font-size: 18px;
    line-height: 28px;
    color: #161c2db3;
}