*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f7f7f7;    
}



.contain {
    width: 95%;
    margin: auto;
}

.title h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.title h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.sectionStyle {
    padding: 70px 0;
}

/* HEADER  */
.Dinerlogo .navbar-brand{
    font-size: 36px;
    color: white;
    font-weight: 700;
    display: inline-block;
}

.Dinerlogo .navbar-brand:hover{
    color: white;
}

header input{
    padding: 10px 50px 10px 20px;
    border: 1px solid white;
    border-radius: 6px;
    height: 45px;
    font-size: 16px;
    color: rgba(22, 28, 45, 0.7);

}

header {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;

    padding-top: 40px;
}


header form {
    position: relative;
   
    padding-left: 600px; 

}

header form>i {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
}

#DinerNavbar a{
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: white;
    text-align: center;
    transition: all .2s;
}

#DinerNavbar a:hover{
    color: #ff6600;
}

#DinerNavbar {
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-toggler-icon {
    background-image: none;
}

header .navbar-light .navbar-toggler-icon i {
    color: white;
    font-size: 30px;
}

/* CAROUSEL  */
.Dinercarousel{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    height: 700px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
}

.carousel__content {
    color: white;
}

.carousel__content h1{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
}

.carousel__content p{
    font-size: 16px;
    line-height: 28px;
}

.carousel__content button {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
    transition: all .5s;
}

.carousel__content button:hover{
    background-color: white;
    color: #ff6600;
}

/* ABOUT US  */
.aboutUs__content {
    display: flex;
    gap: 100px;
}

.aboutUs__left {
    width: 40%;
}

.aboutUs__right {
    width: 60%;
}


.aboutUs__right p {
    font-size: 18px;
    line-height: 28px;
    color: #161c2db3;
}

/* BOOKING  */
.booking {
    background-color: #ff6600;
}


.booking__image {
    background-image: url(../img/banner3.jpg);
    height: 526px;
    background-size: 200%;
    background-position: center;
    margin: 10px 0;
    position: relative;
}

.booking__image::before{
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    width: 100%;
}

.booking__text h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Pacifico', cursive;
}

.booking__text {
    padding: 30px 70px;
}

.booking__text h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.booking__text p {
    color: #ffdfc9;
    font-size: 18px;
    line-height: 28px;
}

.booking__item i {
    width: 70px;
    height: 70px;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
    background: white;
    line-height: 70px;
    border-radius: 6px;
    color: #ff6600;
    transition: all .3s;
}

.booking__item i:hover {
    color: #ffc600;
}

.booking__item a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.2;
    margin: 15px 0;
    font-size: 20px;
}

/* CATEGORIES  */
.categories__item img {
    width: 100%;
    transition: all .5s;
}

.categories__item img:hover {
    opacity: 0.85;
}

.categories__item {
    position: relative;
    border-radius: 6px;
}

.categories__text {
    position: absolute;
    left: 60px;
    bottom: 30px;
}

.categories .col-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.categories__text h5 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.categories__text p {
    font-weight: 600;
    color: #ffc600;
    font-size: 18px;
    letter-spacing: 1px;
}

.categories__item::after {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    /* background-color: #ff6600; */
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* DINERMENU  */
.dinerMenu{
    background-color: white;
}

.dinerMenu__header {
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: white;
    border: 1px solid #eee;
    transition: all ease-in-out .3s;
}

.dinerMenu__item:hover i{
    color: white;
    background-color: #ff6600;
}
.dinerMenu__icon{
    display: flex;
    gap: 30px;
}

.dinerMenu__icon i{
    width: 70px;
    height: 70px;
    text-align: center;
    background: rgb(130 115 252 / 5%);
    line-height: 70px;
    border-radius: 6px;
    font-size: 25px;
    color: #ff6600;
    transition: all ease-in-out .3s;
}

.dinerMenu__icon span {
    font-size: 18px;
    line-height: 28px;
}

.dinerMenu__icon a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #232121;
    transition: all .4s;
}

.dinerMenu__icon a:hover{
    color: #ff6600;
}

.dinerMenu__header p{
    font-size: 18px;
    line-height: 28px;
    margin-top: 15px;
}

.dinerMenu__item {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* DELICIOUS  */

.delicious__content {
    background-image: url(../img/banner2.jpg);
    
    background-size: cover;
    background-position: center;
    padding: 200px 0; 

    text-align: center;

    position: relative;
    z-index: 1;
}

.delicious__content::before{
    content: "";
    background-color: rgb(16 15 19 / 66%);

    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
}

.delicious__text {
    text-align: center; 
}

.delicious__content h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
}

.delicious__button{
    padding: 30px 0;
}

.button__white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;

    transition: all .5s;
}

.button__white:hover{
    background-color:white ;
    color:#ff6600;
    text-decoration: none;
}

.button__yel {
    background-color:#ff6600;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    margin: 0 10px;

    transition: all .5s;
}

.button__yel:hover{
    background-color: rgba(255, 102, 0, 0.612);
    text-decoration: none;
    color: white;
}

/* NUMBER  */
.number {
    position: relative;
    margin-top: -140px;
    z-index: 10;
    
}

.number__item {
    text-align: center;
    background-color: white;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 6px;

    transition: all .5s;
}

.number__item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.number__item i {
    background-color: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

.number__item h3 {
    font-size: 2.6em;
    font-weight: 600;
    padding-top: 15px;
}

.number__item h5 {
    color: rgb(22 28 45 / 70%);
    font-size: 1.1em;
    font-weight: 600px;
}

/* BLOG  */
.blog .title {
    text-align: center;
}

.blog__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.blog__footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.blog__item .card-body h5{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    cursor: pointer;
}

.blog__img span {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    padding-left: 10px;
}

.blog__footer a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: all .5s;
}

.blog__footer a:hover{
    color: #ff6600;
}

.blog__icon a {
    background-color: #ff6600;
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    /* margin-bottom: 5px; */
    display: inline-block;
    letter-spacing: .05em;
    text-decoration: none;
}

.blog__icon i, .blog__icon span {
    color: white;
}

.card__header {
    position: relative;
}

.blog__icon {
    position: absolute;
    left: 10px;
    bottom: 15px;
}

.blog__item .card {
    border: 1px solid transparent;
    background-color: #f7f7f7;
}

.blog__item .card-body {
    padding-left: 0;
}

.card__header img {
    border-radius: 6px;
}

/* testimonial */
.testimonial {
    background-color: white;
}

.testimonial__content .owl-carousel .owl-item img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: auto;
}

.testimonial .title {
    text-align: center;
    margin-bottom: 30px;
}

.testimonial__item {
    text-align: center;
    padding: 0 300px;
}

.testimonial__item h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.testimonial__item h3::before{
    content: open-quote;
    display: block;
    font-size: 50px;
    color: #ff6600;
    font-family: initial;
    margin-top: 20px;
}

.testimonial__item p {
    color: rgb(22 28 45 / 70%);
    font-size: 18px;
    line-height: 28px;
}

.testimonial__item h4 {
    font-size: 20px;
    font-weight: 600;
}

.testimonial__item h5 {
    font-size: 18px;
    opacity: 0.8;
    font-style: normal;
}

.testimonial__content .owl-theme .owl-dots .owl-dot {
    margin-top: 20px;
}

.testimonial__content .owl-theme .owl-dots .owl-dot.active span {
    background-color: #ff6600;
}

/* footer  */
footer {
    background-color: black;
    padding-top: 70px;
}

.footer__1 h2 {
    font-weight: 600;
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: all .3s;
}

.footer__1 h2:hover {
    color: #ff6600;
}

.footer__1 p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
    margin: 10px 0;
}

.footer__icon a {
    margin-right: 10px;
    color:#ff6600;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: white;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: all .3s;
}

.footer__icon a:hover {
    background-color: #ff6600;
    color: white;
}

.footer__content h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #fff;
}

.footer__info li, .copyright li {
    list-style: none;
}

.footer__info a, .copyright a {
    font-size: 17px;
    line-height: 26px;
    display: inline-block;
    color: #a5a2a1;
    text-decoration: none;
    padding: 10px 0;
    transition: all .5s;
}

.footer__info a:hover, .copyright a:hover {
    color: #ff6600;
}

.footer__mail input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgb(22 28 45 / 70%);
    background: white;
    border-radius: 6px;
    margin-bottom: 15px;
}

.footer__mail input:focus {
    border: 1px solid #ff6600;
}

.footer__mail button {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    width: 100%;
    transition: 0.3s ease-in;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: #ff6600;
    color: white;
}

.footer__mail p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.copyright {
    border-top: solid 1px #a5a2a1;
}
.copyright li {
    display: inline;
}

.copyright p {
    color: #ddd;
    font-size: 17px;
    padding: 10px 0;
}

.copyright li {
    padding-right: 30px;
}