*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

.contain {
    width: 95%;
    margin: auto;
}

.title h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.title h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.sectionStyle {
    padding: 70px 0;
}

/* HEADER  */
.Dinerlogo .navbar-brand{
    font-size: 36px;
    color: white;
    font-weight: 700;
    display: inline-block;
}

.Dinerlogo .navbar-brand:hover{
    color: white;
}

header input{
    padding: 10px 50px 10px 20px;
    border: 1px solid white;
    border-radius: 6px;
    height: 45px;
    font-size: 16px;
    color: rgba(22, 28, 45, 0.7);

}

header {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;

    padding-top: 40px;
}


header form {
    position: relative;
   
    padding-left: 600px; 

}

header form>i {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
}

#DinerNavbar a{
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: white;
    text-align: center;
    transition: all .2s;
}

#DinerNavbar a:hover{
    color: #ff6600;
}

#DinerNavbar {
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-toggler-icon {
    background-image: none;
}

header .navbar-light .navbar-toggler-icon i {
    color: white;
    font-size: 30px;
}

/* CAROUSEL  */
.Dinercarousel{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    height: 700px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
}

.carousel__content {
    color: white;
}

.carousel__content h1{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
}

.carousel__content p{
    font-size: 16px;
    line-height: 28px;
}

.carousel__content button {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
    transition: all .5s;
}

.carousel__content button:hover{
    background-color: white;
    color: #ff6600;
}

/* ABOUT US  */
.aboutUs__content {
    display: flex;
    gap: 100px;
}

.aboutUs__left {
    width: 40%;
}

.aboutUs__right {
    width: 60%;
}


.aboutUs__right p {
    font-size: 18px;
    line-height: 28px;
    color: #161c2db3;
}

/* BOOKING  */
.booking {
    background-color: #ff6600;
}


.booking__image {
    background-image: url(../img/banner3.jpg);
    height: 526px;
    background-size: 200%;
    background-position: center;
    margin: 10px 0;
    position: relative;
}

.booking__image::before{
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    width: 100%;
}

.booking__text h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Pacifico', cursive;
}

.booking__text {
    padding: 30px 70px;
}

.booking__text h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.booking__text p {
    color: #ffdfc9;
    font-size: 18px;
    line-height: 28px;
}

.booking__item i {
    width: 70px;
    height: 70px;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
    background: white;
    line-height: 70px;
    border-radius: 6px;
    color: #ff6600;
    transition: all .3s;
}

.booking__item i:hover {
    color: #ffc600;
}

.booking__item a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.2;
    margin: 15px 0;
    font-size: 20px;
}

/* CATEGORIES  */
.categories__item img {
    width: 100%;
    transition: all .5s;
}

.categories__item img:hover {
    opacity: 0.85;
}

.categories__item {
    position: relative;
    border-radius: 6px;
}

.categories__text {
    position: absolute;
    left: 60px;
    bottom: 30px;
}

.categories .col-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.categories__text h5 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.categories__text p {
    font-weight: 600;
    color: #ffc600;
    font-size: 18px;
    letter-spacing: 1px;
}

.categories__item::after {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    /* background-color: #ff6600; */
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
}
